%h1 Projects

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @projects.each do |project|
      %tr
        %td=link_to project.name, project_tasks_path(project)
        %td --
        %td=link_to 'Change Name', edit_project_path(project)
        %td=link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

=link_to 'Add a project', new_project_path
